<div class="container banner" ng-controller="HeaderController as header">

    <div class="row">
    
		<div class="col-md-3 sub-banner">
            <img src="static/moon/img/logo-orange.gif" alt="Orange" />
            <img src="static/moon/img/logo-openstack.png" alt="OpenStack" />
        </div>
        
        <div class="col-md-6 center-block">
            <h1 translate="moon.global.applicationName">Moon UI</h1>
        </div>
    
    	<div class="col-md-3">
	        <span class="pull-right">
	            <a href="" ng-click="header.changeLocale('fr', $event)"><img src="static/moon/img/arrow-link.gif" alt="fr_" />fr</a>
	            <a href="" ng-click="header.changeLocale('en', $event)"><img src="static/moon/img/arrow-link.gif" alt="en_" />en</a>
	        </span>
        </div>
                
    </div>
    
    <div class="row">
    	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">{{alert.msg}}</alert>
    </div>

    <div class="row">
    
        <ul class="nav nav-tabs">
            <li ng-class="{active: header.isTenantTabActive()}"><a ui-sref="moon.tenant" translate="moon.menu.tenant">Tenants</a></li>
            <li ng-class="{active: header.isIntraExtensionTabActive()}"><a ui-sref="moon.intraExtension" translate="moon.menu.intraExtension">Intra Extensions</a></li>
            <li ng-class="{active: header.isInterExtensionTabActive()}"><a ui-sref="moon.interExtension" translate="moon.menu.interExtension">Inter Extensions</a></li>
        </ul>
                        
    </div>

</div>
