/* ---------------------------------------------------------------------------------- */
/* Default styles */
/* ---------------------------------------------------------------------------------- */

html{
    overflow: auto;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{

    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #323232;
    font-family: Arial, Helvetica, sans-serif;
    /* http://clagnut.com/blog/348/ */
    font-size: 1em;
}

div, span, td, input, textarea, li {
    font-size: 1em;
}

.container {
    font-size: 1.2em;
}

.footer {
	margin: 1em 0 1em 0	
}

input[disabled], textarea[disabled] {
    background-color: #f6f6f6;

}

strong, .strong {
    font-weight: bold;
}

h1, h2, h3, .likeH2 {
    color: #FF6600;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0em;
}

h2, .likeH2 {
    font-size: 1.8em;
    font-weight: lighter;
    line-height: 1em;
    margin: 0 0 1em;
}

h3 {
    font-size: 1.6em;
    font-weight: lighter;
    line-height: 1em;
    margin: 0 0 1em;
    text-align: left;
}

img {
    border: none;
    vertical-align: middle;
}

.banner {
    margin: 1.5em 0 1.5em 0;
}

.sub-banner {
	margin: 0 0 1.5em 0;
}

.underlined {
    text-decoration: underline;
}

.header img {
    float: left;
}

.header h1 {
    position: relative;
}

.apimenu{
    float: left;
    text-align: right;
    padding-right: 0px;
}

.table-api-container{
    border: 1px solid #F56600;
    border-radius: 4px;
    padding: 10px !important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.attr .row, .value .row{
    height: 40px;
    padding-top: 6px;
}

.class .row .arrow, .enum .row .arrow {
    text-align: center;
}

.attr .row:hover, .value .row:hover, .class .row:hover, .enum .row:hover {
    background-color: #FAFAFA !important;
}

.btn-apimenu, .activemenu, .disabledmenu{
    color: white !important;
    white-space: normal !important;
}

.activemenu {
    background-color: #F56600 !important;
}

.disabledmenu {
	color: black !important;
	background-color: #f5f5f5 !important;
}

.btn-apimenu {
    background-color: #EFEFEF;
}

.table {
    text-align: left !important;
}

.centered {
    text-align: center;
    color: #cbcbcb;
}

.wizard li {
    padding: 10px 12px 10px 10px;
    margin-right: 15px;
    background: #efefef;
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.wizard li:first-child {
    padding-left: 15px !important;
}

.wizard li:first-child:before,
.wizard li:last-child:after {
    border: none;
}

.wizard > li > a,
.wizard > li > a:focus {
    color : white;
    text-decoration: none;
}

.wizard .current {
    background: #F56600;
    color: #fff;
}

.wizard .available {
    background: #ffbf7c;
    color: #fff;
}

.apiProperties{
    margin-top: 0px;
}

.table-xsd-container {
    width: 65%;
}

.disabledSoaElement {
    color: #dfdfdf;
}

.customTables, .dropdown-menu{
    text-align: left !important;
}



.resourceCombo {
    width: 100%;
}

div.tooltip-inner {
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 6px;
    background-color: #f0f0f0;
    font-size: 1.2em;
    color: black;
    min-width: 400px;
}

.attributeCardinality {
    width: 25% !important;
}
/* */

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
