/**
* General config
*/
body {
    background: #a8a8a8;
}

.title {
    background: -webkit-linear-gradient(left top, #ffffff, #ffb445, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #ffffff, #ffb445, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #ffffff, #ffb445, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #ffffff, #ffb445, #ffffff); /* Standard syntax */
    margin: 5px;
    margin-left: 300px;
    padding: 5px;
    border-radius:25px;
    width: 60%;
    text-align: center;
}

.box {
    border: 1px dotted #ffb445;
    margin: 5px;
    padding: 5px;
}

#error {
    color: red;
    text-decoration-style: double;
    padding: 10px;
    margin: 10px;
    border-radius:5px;
    background: #ffffff;
}

#ptitle {
    width: 80%;
    text-align: center;
    font-weight: bold;
}

#plogout {
    position:fixed;
    top:10px;
    right:5px;
}

#pmain {
    margin: 5px;
    padding: 5px;
}

#pmenu {
    /*border: 1px dotted #ffb445;*/
    margin: 5px;
    float:left;
    width: 280px;
    /*min-height: 200px;*/
    padding: 5px;
    background: #dcdcdc;
    border-radius:25px;
    position: fixed;
    top: 30px;
    left: 5px;
}

#pcontent {
    margin: 5px;
    /*border: 1px dotted #ffb445;*/
    float:left;
    width: 60%;
    min-height: 200px;
    padding: 5px;
    padding-left: 320px;
}

#plogs {
    margin: 5px;
    /*border: 1px dotted #ffb445;*/
    float:left;
    width: 15%;
    min-height: 200px;
    padding: 5px;
}

#pmain {
    font-size: 1em;
}

#message {
    display: none;
    border-width: 1px;
    border-style: solid;
}

.fade.in {
    display: block;
    opacity: 1;
}

.fade {
    transition: opacity 0.15s linear 0s;
    opacity: 0;
}

.success {
    color: black;
}

.error {
    color: red;
}

#useradd {
    clear:right;
    margin: 5px;
    padding: 5px;
    float: right;
    background-color: #ffb445;
}

#user_actions {
    margin: 5px;
    padding: 5px;
    float: right;
}

#tenantadd {
    clear:right;
    margin: 5px;
    padding: 5px;
    float: right;
    background-color: #ffb445;
}

#tenants_actions {
    margin: 5px;
    padding: 5px;
    float: right;
}

#elementadd {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ffb445;
    background: #dcdcdc;
    border-radius:5px;
}

#tablesselection {
    border: 1px solid #ffb445;
    margin: 10px;
    padding: 10px;
    background: #dcdcdc;
    border-radius:5px;
}

#policy_description {
    margin: 10px;
    padding: 10px;
    background: #dcdcdc;
    border-radius:5px;
}

.logs {
    font-size: 0.8em;
}

a {
    color: #855928;
}

table {
    border-collapse:collapse;
    background: #dcdcdc;
    padding: 10px;
}

td {
    padding: 10px;
}

th {
    background: #ffb445;
    padding: 10px;
}

tr.row1 {
    background: #cccccc;
}

.authorized {
    color: green;
}

.notauthorized {
    color: red;
}
.outofscope {
    color: orange;
}

.managed {

}

.notmanaged {
    background: #cc8595;
}

td.objects {
    width: 200px;
}