<div class="modal" tabindex="-1" role="modalUnmapTenant">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" translate="moon.tenant.unmap.title"></h4>
			</div>
			
			<div class="modal-body">
				<span translate="moon.tenant.unmap.content" translate-values="{ tenantName: unmap.tenant.name, intraExtensionName: unmap.tenant.intraExtension.name[0] }"></span>
			</div>
			
			<div class="modal-footer">
				<div class="btn-toolbar" style="float: right;">
					<a href="" ng-click="$hide()" class="btn btn-default">
		                <span translate="moon.tenant.unmap.action.cancel">Cancel</span>
					</a>					
					<a href="" ng-click="unmap.unmap(unmap.tenant)" class="btn btn-warning">
		            	<span class="glyphicon glyphicon-transfer"></span>
		                <span translate="moon.tenant.unmap.action.unmap">Unmap</span>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>