<div class="modal" tabindex="-1" role="modalViewTenant">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" translate="moon.tenant.view.title" translate-values="{tenantName: view.tenant.name}"></h4>
			</div>
			
			<div class="modal-body">
			
				<!-- OBJECTS -->
			
				<div class="row">
					<div class="col-md-12">
						<h1 class="pull-left" translate="moon.tenant.view.object.title">Objects</h1>
					</div>
				</div>
												
				<div class="row">
				
					<div class="col-md-3"><label translate="moon.tenant.view.object.name">Name</label></div>
					<div class="col-md-7"><label translate="moon.tenant.view.object.description">Description</label></div>
	                <div class="col-md-2"><label translate="moon.tenant.view.object.enabled">Enabled</label></div>
	                
				</div>
				
				<div class="row" ng-if="view.objectsLoading">
					<div class="col-md-12"><img src="static/moon/img/ajax-loader.gif" /> <span translate="moon.tenant.view.object.loading">Loading Objects</span></div>
				</div>
				
				<div class="row" ng-if="!view.objectsLoading && view.objects.length == 0">
					<div class="col-md-12" translate="moon.tenant.view.object.notFound">Objects not found</div>
				</div>
				
				<div class="row" ng-if="!view.objectsLoading && view.objects.length > 0" ng-repeat="object in view.objects">
								
					<div class="col-md-3">{{object.name}}</div> 
                 	<div class="col-md-7">{{object.description}}</div>
                 	<div class="col-md-2">
                		<span ng-if="object.enabled" class="glyphicon glyphicon-ok"></span>
                    </div>
		                    	                                
                </div>
                                
   				<div>&nbsp;</div>
				<div>&nbsp;</div>
				
				<!-- SUBJECTS -->
				
				<div class="row">
					<div class="col-md-12">
						<h1 class="pull-left" translate="moon.tenant.view.subject.title">Subjects</h1>
					</div>
				</div>
				
				<div>&nbsp;</div>
								
				<div class="row">
				
					<div class="col-md-3"><label translate="moon.tenant.view.subject.name">Name</label></div>
	                <div class="col-md-3"><label translate="moon.tenant.view.subject.domain">Domain</label></div>
	                <div class="col-md-4"><label translate="moon.tenant.view.subject.mail">Mail</label></div>
	                <div class="col-md-2"><label translate="moon.tenant.view.subject.enabled">Enabled</label></div>
	                
				</div>
				
				<div class="row">
				
					<div class="col-md-3">
						<ui-select ng-model="view.selectedSubject" on-select="view.getRolesAndGroups(view.tenant, $item)"> 
	                    	<ui-select-match placeholder="(None)">{{$select.selected.name}}</ui-select-match>
	                    	<ui-select-choices repeat="subject in view.subjects">
	                    		<div ng-value="subject">{{subject.name}}</div>
             				</ui-select-choices>
	                    </ui-select>
					</div> 
                 	<div class="col-md-3">{{view.selectedSubject.domain}}</div>
					<div class="col-md-4">{{view.selectedSubject.mail}}</div>
                 	<div class="col-md-2">
                 		<div ng-if="view.selectedSubject != null">
	                		<span ng-if="view.selectedSubject.enabled" class="glyphicon glyphicon-ok"></span>
                		</div>
                    </div>
		                    	                                
                </div>
                
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                
                <!-- ROLES -->
                
               	<div ng-if="view.selectedSubject != null">
                
	               	<div class="row">
						<div class="col-md-12">
							<h1 class="pull-left" translate="moon.tenant.view.role.title">Roles</h1>
						</div>
					</div>
					
					<div>&nbsp;</div>
									
					<div class="row">
					
						<div class="col-md-3"><label translate="moon.tenant.view.role.value">Value</label></div>
		                <div class="col-md-5"><label translate="moon.tenant.view.role.description">Description</label></div>
		                <div class="col-md-2"><label translate="moon.tenant.view.role.assigned">Assigned</label></div>
		                <div class="col-md-2"><label translate="moon.tenant.view.role.enabled">Enabled</label></div>
		                
					</div>
					
					<div class="row" ng-if="view.rolesLoading">
						<div class="col-md-12"><img src="static/moon/img/ajax-loader.gif" /> <span translate="moon.tenant.view.role.loading">Loading Roles</span></div>
					</div>
					
					<div class="row" ng-if="!view.rolesLoading && view.roles.length == 0">
						<div class="col-md-12" translate="moon.tenant.view.role.notFound">Roles not found</div>
					</div>
					
					<div class="row" ng-if="!view.rolesLoading && view.roles.length > 0" ng-repeat="role in view.roles">
					 
	                 	<div class="col-md-3">{{role.value}}</div>
	                 	<div class="col-md-5">{{role.description}}</div>
	                 	<div class="col-md-2">
	                    	<span ng-if="isRoleAssigned(role)" class="glyphicon glyphicon-ok"></span>
	                    </div>
	                 	<div class="col-md-2">
	                 		<span ng-if="role.enabled" class="glyphicon glyphicon-ok"></span>
	                    </div>
			                    	                                
	                </div>
	                
	                <div>&nbsp;</div>
	                <div>&nbsp;</div>
                
                </div>
                                
                <!-- GROUPS -->
                
               	<div ng-if="view.selectedSubject != null">
                
	               	<div class="row">
						<div class="col-md-12">
							<h1 class="pull-left" translate="moon.tenant.view.group.title">Groups</h1>
						</div>
					</div>
					
					<div>&nbsp;</div>
									
					<div class="row">
					
						<div class="col-md-3"><label translate="moon.tenant.view.group.value">Value</label></div>
		                <div class="col-md-5"><label translate="moon.tenant.view.group.description">Description</label></div>
		                <div class="col-md-2"><label translate="moon.tenant.view.group.assigned">Assigned</label></div>
		                <div class="col-md-2"><label translate="moon.tenant.view.group.enabled">Enabled</label></div>
		                
					</div>
					
					<div class="row" ng-if="view.groupsLoading">
						<div class="col-md-12"><img src="static/moon/img/ajax-loader.gif" /> <span translate="moon.tenant.view.group.loading">Loading Groups</span></div>
					</div>
					
					<div class="row" ng-if="!view.groupsLoading && view.groups.length == 0">
						<div class="col-md-12" translate="moon.tenant.view.group.notFound">Groups not found</div>
					</div>
					
					<div class="row" ng-if="!view.groupsLoading && view.groups.length > 0" ng-repeat="group in view.groups">
					 
	                 	<div class="col-md-3">{{group.value}}</div>
	                 	<div class="col-md-5">{{group.description}}</div>
	                 	<div class="col-md-2">
	                    	<span ng-if="isGroupAssigned(group)" class="glyphicon glyphicon-ok"></span>
	                    </div>
	                 	<div class="col-md-2">
	                 		<span ng-if="group.enabled" class="glyphicon glyphicon-ok"></span>
	                    </div>
			                    	                                
	                </div>
	                
	                <div>&nbsp;</div>
	                <div>&nbsp;</div>
                
                </div>
                                				
			</div>
			
			<div class="modal-footer">
				<div class="btn-toolbar" style="float: right;">
					<button ng-click="$hide()" class="btn btn-default" translate="moon.tenant.view.action.close">Close</button>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>