
<div>
	<form class="form-inline pull-right">
	    <div class="form-group">
	        <div>
	            <input id="searchTenant" data-ng-model="query" type="text" class="form-control" placeholder="{{'moon.tenant.form.search.placeholder' | translate}}" />
	        </div>
	    </div>
	    <div class="form-group">
	        <div>
	            <button type="submit" class="btn btn-danger" data-ng-click="reset()" translate="moon.tenant.form.search.reset">Reset</button>
	        </div>
	    </div>
	</form>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<div class="row">

	<div class="table-responsive" role="table">
	
        <table class="table table-striped table-hover" ng-table="tenantsTable">
        
            <colgroup>
                <col class="col-sm-2" />
                <col class="col-sm-2" />
                <col class="col-sm-1" />
                <col class="col-sm-2" />
                <col class="col-sm-1" />
            </colgroup>
            
            <thead>
            
                <tr>
                
                	<th class="customTables sortable"
						ng-class="{ 'sort-asc': tenantsTable.isSortBy('name', 'asc'), 'sort-desc': tenantsTable.isSortBy('name', 'desc') }"
						ng-click="tenantsTable.sorting('name', tenantsTable.isSortBy('name', 'asc') ? 'desc' : 'asc')">
							<div translate="moon.tenant.table.name">Name</div>
					</th>
                
					<th class="customTables sortable"
						ng-class="{ 'sort-asc': tenantsTable.isSortBy('domain', 'asc'), 'sort-desc': tenantsTable.isSortBy('domain', 'desc') }"
						ng-click="tenantsTable.sorting('domain', tenantsTable.isSortBy('domain', 'asc') ? 'desc' : 'asc')">
							<div translate="moon.tenant.table.domain">Domain</div>
					</th>
						
					<th class="customTables sortable"
						ng-class="{ 'sort-asc': tenantsTable.isSortBy('managed', 'asc'), 'sort-desc': tenantsTable.isSortBy('managed', 'desc') }"
						ng-click="tenantsTable.sorting('managed', tenantsTable.isSortBy('managed', 'asc') ? 'desc' : 'asc')">
							<div translate="moon.tenant.table.managed">Managed</div>
					</th>
					 
                    <th class="customTables sortable"
						ng-class="{ 'sort-asc': tenantsTable.isSortBy('enabled', 'asc'), 'sort-desc': tenantsTable.isSortBy('enabled', 'desc') }"
						ng-click="tenantsTable.sorting('enabled', tenantsTable.isSortBy('enabled', 'asc') ? 'desc' : 'asc')">
							<div translate="moon.tenant.table.enabled">Enabled</div>
					</th>
					
                    <th class="customTables">
						<div translate="moon.tenant.action.title">Actions</div>
					</th>
                    
                </tr>
                
            </thead>
            
            <tbody ng-if="tenantsLoading">
            	<tr>
            		<td colspan="5"><span translate="moon.tenant.table.loading">Loading Tenants</span></td>
            	</tr>
            </tbody>
            
            <tbody ng-if="!tenantsLoading && tenants.length == 0">
            	<tr>
            		<td colspan="5"><span translate="moon.tenant.table.notFound">There is no Tenants</span></td>
            	</tr>
            </tbody>
            
            <tbody ng-if="!tenantsLoading && tenants.length  > 0">
            
	            <tr ng-repeat="tenant in $data | filter:search | orderBy:sort:reverse">
	                <td>{{tenant.name}} </td>
	               	<td>{{tenant.domain}}</td>
	                 <td>
	                	<img ng-if="tenant.managed" src="static/moon/img/tick.png" alt="Managed" />
	                	<img ng-if="!tenant.managed" src="static/moon/img/stop.png" alt="Not managed" />
	                </td>
	                <td>
	                	<img ng-if="tenant.enabled" src="static/moon/img/tick.png" alt="Enabled" />
	                	<img ng-if="!tenant.enabled" src="static/moon/img/stop.png" alt="Not enabled" />
	                </td>
	                <td>
		                <div class="btn-group" dropdown>
		                        <button type="button" class="btn btn-default" translate="moon.tenant.action.title">Actions</button>
		                        <button type="button" class="btn btn-default dropdown-toggle">
		                            <span class="caret"></span>
		                            <span class="sr-only">Split Action button!</span>
		                        </button>
		                        <ul class="dropdown-menu" role="menu">
		                            <li>
			                            <a href="" ng-click="view.display(tenant)">
				                            <span class="glyphicon glyphicon-chevron-right" />
				                            <medium for="detail" class="control-label" translate="moon.tenant.action.detail">Detail</medium>	   
			                            </a>
									</li>
		                            <li>
			                            <a href="" ng-click="delete.display(tenant)">
			                            	<span class="glyphicon glyphicon-chevron-right"/>
			                            	<medium for="delete" class="control-label"  translate="moon.tenant.action.delete">Delete</medium>
			                            </a>
		                            </li>
		                       </ul>
		               </div>
	               </td>
	               
	            </tr>
	            
            </tbody>
            
        </table>
        
	</div>

   	<div class="container">
		<div class="form-inline form-group">
           	<a href="" class="btn btn-default">
            	<span class="glyphicon glyphicon-plus-sign"></span>
                <span translate="moon.tenant.action.add">Add Tenant</span>
               </a>
		</div>
    </div>
    
</div>
