{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>Moon</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "moon/main.css" %}" />
         <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{% static "moon/main.js" %}"></script>
    </head>
    <body>
        <div id="title"><h1 class="title">
            {% block ptitle %}{{ title }} {% trans 'Moon: an other RBAC system' %}{% endblock %}
        </h1></div>
        <div id="plogout"><a href="/auth/logout">Logout</a></div>

        <div id="pmain">
            {% block pmain %}{% endblock %}
            <div id="pmenu">
                <h1>Menu</h1>
                {% block pmenu %}
                    <ul>
                        <li><a href="/intra-extensions">Intra Extensions</a></li>
                        <li><a href="/inter-extensions">Inter Extensions</a></li>
                        <li><a href="/logs">Last connections</a></li>
                    </ul>
                {% endblock %}

            </div>
            <div id="pcontent">
                <h1>{% block tcontent %}Content{% endblock %}</h1>
                {% block pcontent %}{% endblock %}

            </div>
{#            <div id="plogs">#}
{#                {% block plogs %}#}
{#                    <h1>LOGS</h1>#}
{#                {% endblock %}#}
{##}
{#            </div>#}
        </div>


    </body>
</html>