{% extends "moon/base_site.html" %}

{% block tcontent %}Policy Repository Management
{% endblock %}
{% block pcontent %}
    <div id="policy_actions">
{#        <a href="#" onclick="show_tenant_add_actions()">Add Tenant</a>#}
    </div><br>
{#    <div id="policy_add">#}
{#        <form method="post" action="add">#}
{#            {{ tenantform.as_p }}#}
{#            <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>#}
{#            <input type="submit" value="Add"/>#}
{#        </form>#}
{#    </div>#}
    {% if policy %}
        <h2>Policy "{{ policy.tenant_name }}"</h2>
        <div id="policy_description">
        <h3>Description</h3>
        <table>
            <tr>
                <td>Name: </td><td>{{ policy.tenant_name }}</td>
            </tr>
            <tr>
                <td>Description: </td><td>{{ policy.description }}</td>
            </tr>
            <tr>
                <td>Enabled: </td><td>{{ policy.enabled }}</td>
            </tr>
        </table>
        <h3>Metadata attributes</h3>
        <table border="1">
            <tr>
                <th>Subject</th>
                <th>Object</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>
                    {% for metadata in policy.get_metadata.s_attrs %}
                        {{ metadata }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for metadata in policy.get_metadata.o_attrs %}
                        {{ metadata }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for metadata in policy.get_metadata.a_attrs %}
                        {{ metadata }}<br>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <h3>Metadata attributes</h3>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Attribute type</th>
                <th colspan="2">rule</th>
                <th>Description</th>
            </tr>
            {% for key, rule in rules.items %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td rowspan="3">{{ key }}</td>
                <td>s_attrs</td>
                {% for element in rule.s_attrs %}
                <td>{{ element }}</td>
                {% endfor %}
                <td rowspan="3">{{ rule.description }}</td>
            </tr>
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>o_attrs</td>
                {% for element in rule.o_attrs %}
                <td>{{ element }}</td>
                {% endfor %}
            </tr>
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>a_attrs</td>
                {% for element in rule.a_attrs %}
                <td>{{ element }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
    <h2>List of policies available</h2>
    {% if policies %}
        <table border="1">
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Description</th>
            <th>Enabled</th>
        </tr>
        {% for p in policies %}
            <tr>
                <td><a href="/policies/{{ p.tenant_name }}/">Show</a></td>
                <td>{{ p.tenant_name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.enabled }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No policy available.</p>
    {% endif %}
{#    {% if graph %}#}
{#        <h2>Diagram:</h2>#}
{#        <img src="/static/{{ graph }}" width="800px"/>#}
{#        <object data="/static/{{ graph }}" type="image/svg+xml" width="600" height="500">#}
{#            <embed src="/static/{{ graph }}" type="image/svg+xml" width="600" height="500" />#}
{#        </object>#}
{#    {% endif %}#}
{% endblock %}