{% extends "moon/base_site.html" %}

{% block tcontent %}Roles
{% endblock %}
{% block pcontent %}
    <form method="post" action="/roles/">
        <table border="1">
            <tr>
                <th>Actions</th>
                <th><label for="name">Name</label></th>
                <th>Tenants</th>
                <th><label for="description">Description</label></th>
            </tr>
        {% for r in roles %}
            <tr>
                <td><button type="button" onclick="delete_role('{{ r.uuid }}')">Delete</button></td>
                <td>{{ r.value }}</td>
                <td>
                    {% for tenant in tenants %}
                        {% if tenant|is_managed and tenant|has_subject_attribute:r.uuid %}
                        {{ tenant.name }}
                        <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ r.description }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td><input type="submit" value="Add"></td>
                <td><input id="name" name="name"  type="text"></td>
                <td>
                    {% for tenant in tenants %}
                        {% if tenant|is_managed %}
                        <input id="{{ tenant.uuid }}" name="{{ tenant.uuid }}" type="checkbox">
                        <label for="{{ tenant.uuid }}">{{ tenant.name }}</label>
                        <br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td><input id="description" name="description" type="text"></td>
            </tr>
        </table>
        <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>
    </form>
{% endblock %}