{% extends "moon/base_site.html" %}

{% block tcontent %}Tenants
{% endblock %}
{% block pcontent %}
{#    <div id="tenants_actions">#}
{#        <a href="#" onclick="show_tenant_add_actions()">Add Tenant</a>#}
{#    </div><br>#}
{#    <div id="tenantadd">#}
{#        <form method="post" action="add">#}
{#            {{ tenantform.as_p }}#}
{#            <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>#}
{#            <input type="submit" value="Add"/>#}
{#        </form>#}
{#    </div>#}
    {% if tenant %}
{#        <h2>Description</h2>#}
{#        <p>#}
{#            <b>Name: {{ tenant.name }}</b><br>#}
{#            ID: {{ tenant.uuid }}<br>#}
{#            Domain: {{tenant.domain}}<br>#}
{#            Enabled: {{tenant.enabled}}<br>#}
{#        </p>#}
{#        <h2>Relationships</h2>#}
{#        <p>#}
{#            Parent:#}
{#                {% for p in tenants %}#}
{#                    {% if p.uuid == tenants.parent %}#}
{#                    <b>{{ p.name }}</b>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            {{ project.parent }}<br>#}
{#            Children:<br>#}
{#            {% for child in project.children %}#}
{#                &nbsp;&nbsp;&nbsp;&nbsp;#}
{#                {% for p in projects %}#}
{#                    {% if p.uuid == child %}#}
{#                    <b>{{ p.name }}</b>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#                ({{ child }})<br>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <form method="post" >#}
{#            {{ form.as_p }}#}
{#            <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>#}
{#            <button type="submit" name="Add">Add</button>#}
{#            <button type="submit" name="Delete">Delete</button>#}
{#        </form>#}
    {% elif tenants %}
        <table border="1">
        <tr>
{#            <th>Actions</th>#}
            <th>Name</th>
            <th>Domain</th>
            <th>Managed ?</th>
            <th>Users</th>
            <th>Objects</th>
            <th>Description</th>
        </tr>
        {% for p in tenants %}
            {% if p|is_managed %}
            <tr class="managed">
            {% else %}
            <tr class="notmanaged">
            {% endif %}
{#                <td><a href="/tenants/{{ p.uuid }}/">Edit</a></td>#}
                <td>{{ p.name }}</td>
                <td>{{ p.domain }}</td>
                {% if p|is_managed %}
                <td>True<br><a href="/sync/{{ p.uuid }}">Sync again</a></td>
                {% else %}
                <td>False<br><a href="/sync/{{ p.uuid }}">Sync ?</a> </td>
                {% endif %}
                <td>
                    <div id="subjects_list_{{ p.name }}">
                        <script language="javascript" type="text/javascript">
                            get_subjects(undefined, "{{ p.uuid }}", "#subjects_list_{{ p.name }}", false);
                        </script>
                    </div>
                </td>
                <td class="objects">
                    <div id="objects_list_{{ p.name }}">
                        <script language="javascript" type="text/javascript">
                            get_objects(undefined, "{{ p.uuid }}", "#objects_list_{{ p.name }}", false);
                        </script>
                    </div>
                </td>
                <td>{{ p.description }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No project available.</p>
    {% endif %}
{#    {% if graph %}#}
{#        <h2>Diagram:</h2>#}
{#        <img src="/static/{{ graph }}" width="800px"/>#}
{#    {% endif %}#}
{% endblock %}