{% extends "moon/base_site.html" %}

{% block tcontent %}Intra Extension administration page
{% endblock %}
{% block pmenu %}
    {{ block.super }}
    {% if graph %}
        <img src="/static/{{ graph }}" width="300"/>
    {% endif %}
{% endblock %}
{% block pcontent %}
    {% if extension %}
        <b>uuid:</b> {{ extension.get_uuid }}<br/>
        <b>name:</b> {{ extension.get_name }}<br/>
        <b>description:</b> {{ extension.description  }}<br/>
        <b>tenant:</b> {{ extension.get_tenant|extension.get_uuid }}<br/>
        <a href="#" onclick="show_rule_add_actions()">Add Rule</a>
        <div id="add_intra_rule">
            <form action="/intra-extensions/{{ extension.get_uuid }}/" method="post" id="rules">
                <table border="1">
                    <tr>
                        <th><label for="name">Name</label></th>
                        <th colspan="3">Attribute rules</th>
                        <th><label for="description">Description</label></th>
                    </tr>
                    <tr>
                        <td rowspan="3" valign="top">
                            <input name="name" id="name" type="text" required>
                        </td>
                        <td>
                            <label for="type">Type</label>
                            <select id="type" name="type" onchange="get_attributes('type', '{{ extension.get_uuid }}')">
                                <option value="none" selected>Select...</option>
                                <option value="subject">subject</option>
                                <option value="object">object</option>
                            </select>
                        </td>
                        <td>
                            <label for="category">Category</label>
                            <select id="category" name="category" onchange="get_attributes('category', '{{ extension.get_uuid }}')">
{#                                <option value="subject">subject</option>#}
{#                                <option value="object">object</option>#}
                            </select>
                        </td>
                        <td>
                            <label for="value">Value</label>
                            <select id="value" name="value">
{#                                <option value="subject">subject</option>#}
{#                                <option value="object">object</option>#}
                            </select>
                        </td>
                        <td rowspan="3" valign="top">
                            <textarea name="description" id="description" rows="4" cols="50"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><a href="#" onclick="add_temp_rule()">Add</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                        <textarea rows="4" cols="50" id="rules_list" name="rules_list"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>
                <label>Add a new rule:</label>
                <input type="submit" value="Add"/>
            </form>
        </div>
        <br>
        <b>subjects:</b> <ul>
        {% for subject in extension.get_subjects %}
            <li><b>{{ subject.name }}</b> ({{ subject.uuid }})</li>
        {% endfor %}
        </ul>
        <b>objects:</b> <ul>
        {% for object in extension.get_objects %}
            <li><b>{{ object.1name }}</b> ({{ object.uuid }})</li>
        {% endfor %}
        </ul>
        <b>rules:</b>
        <table border="1">
        <tr>
            <th>Name</th>
            <th colspan="3">Attribute rules</th>
            <th>description</th>
        </tr>
        {% for rule in extension.get_rules %}
            {% cycle 'row1' 'row2' as divcolors silent%}
            {% for srule in rule.s_rules %}
            <tr class={{ divcolors }}>
                {% if forloop.first %}
                <td rowspan="{{ rule|rule_length }}">{{ rule.name }}</td>
                {% endif %}
                <td>Subject:</td><td>{{ srule.category }}</td><td>{{ srule.value }}</td>
                {% if forloop.first %}
                <td rowspan="{{ rule|rule_length }}">{{ rule.description }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% for orule in rule.o_rules %}
            <tr class={{ divcolors }}>
                <td>Object:</td><td>{{ orule.category }}</td><td>{{ orule.value }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% elif extensions %}
        <div id="intra_extensions_list">
            <table border="1">
                <tr>
                    <th>UUID</th>
                    <th>Description</th>
                </tr>
                {% for ext in extensions %}
                <tr>
                    <td>
                        <a href="/intra-extensions/{{ ext.get_uuid }}/">{{ ext.get_uuid }}</a>
                    </td>
                    <td>
                        {{ ext.html }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}