<!DOCTYPE html>

<html>

    <head>

        <title>Moon Login</title>

        {% load staticfiles %}

    </head>

    <body>
        <div class="banner">

            <img src="/static/img/logo-orange.gif" alt="Orange" />
            <img src="/static/img/logo-openstack.png" alt="OpenStack" />

            <h1>Moon administration</h1>

        </div>

        <form role="form" name="loginform" action="." method="POST">

            <h2>Put your OpenStack credentials</h2>

            <input type="hidden" name='csrfmiddlewaretoken' value="{{ csrf_token }}"/>
            <!--input type="hidden" name='auth_url' value="http://192.168.33.20:5000/v3"/-->

            {% verbatim %}

            <label for="id_username">User Name</label>
            <input autofocus="autofocus" id="id_username" name="username" type="text"  />

            <!--input id="id_region" name="region" type="hidden" value="http://192.168.33.20:5000/v3" /-->
            <label for="id_password">Password</label>
            <input id="id_password" name="password" type="password" />

            <button type="submit">
                Authenticate
            </button>

           {% endverbatim %}

        </form>

    </body>

</html>