<div class="modal" tabindex="-1" role="modalDeleteIntraExtension">

	<div class="modal-dialog">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" translate="moon.intraExtension.remove.title"></h4>
			</div>
			
			<div class="modal-body">
				<span translate="moon.intraExtension.remove.content" translate-values="{ intraExtensionName: remove.intraExtension.name[0] }"></span>
			</div>
			
			<div class="modal-footer">
				<div class="btn-toolbar" style="float: right;">
					<a href="" ng-click="$hide()" class="btn btn-default">
		                <span translate="moon.intraExtension.remove.action.cancel">Cancel</span>
					</a>					
					<a href="" ng-click="remove.remove(remove.intraExtension)" class="btn btn-warning">
		            	<span class="glyphicon glyphicon-trash"></span>
		                <span translate="moon.intraExtension.remove.action.delete">Delete</span>
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>